<div class="bodyy">
    <div class="forms">
        <h2>Change Password</h2>
        <div class="main">
            <div *ngIf="!isShowPassword">
                <div class="form-group">
                <input type="email" [(ngModel)]="userName" class="box" placeholder="Enter Your Email" />
            </div>
            <div class="form-group">
                <button (click)="getUserName()" class="btn btn-primary">Submit</button>
                </div>
            </div>

            <div *ngIf="isShowPassword">
                <div class="form-group">
                <input type="password" [(ngModel)]="userPassword" class="box" placeholder="Add New Password" />
                </div>
                <div class="form-group">
                <button (click)="changePassword()" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>