.main {
    margin-top: 10px;
}

.bodyy{
    background-image: url(../../assets/LoginBanner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 92vh;
    width: 100%;
    margin-top: 1px;
}
.form {
    width: 280px;
    height: 410px;
    background-color: rgba(71, 70, 70, 0.3);
    position: absolute;
    top: 85px;
    border-radius: 10px;
    padding: 20px;
    margin-left: 900px;
}

.forms
{
  width: 380px;
  height: 410px;
  background-color:rgba(100, 181, 201, 0.5);
  box-shadow: inset -5px -5px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 85px;
  border-radius: 10px;
  padding: 20px;
  margin-left: 900px;
  text-align: center;
}
.box {
  padding: 12px;
  margin: 20px;
  width: 90%;
  border: none;
  outline: none;
  border-radius: 40px;
  background: rgba(0,0,0,0.5);
  box-shadow: inset -3px -3px rgba(0,0,0,0.5);
  color: white;
  font-size: 1rem;
}

::placeholder{
    color: white;
    opacity: 0.7;
    
  }

/* input {
    width: 240px;
    height: 35px;
    background: transparent;
    border: 1px solid orange;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
    text-align: center;
    margin-left: 20px;
}

button {
    width: 240px;
    height: 40px;
    background: orange;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: 0.4s ease;
    padding-left: 20px;
    margin-left: 20px;
}

.bodyy .form > h2 {
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: orange;
    font-size: 22px;
    background-color: rgb(224, 220, 212);
    border-radius: 10px;
    margin: 20px;
    padding: 8px;
    margin-left: 20px;
    margin-top: 30px;
} */
