.main{
    background-image: url(../../../assets/VoterBanner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 92vh;
    width: 100%;
    margin-top: 5px;
}