.main {
    background-image: url(../../../assets/ListvoterBanner.png);
    width: 100%;
    height: 89vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.table th
{
    color: white;
    background-color:rgb(24, 132, 172);
    border: 3px solid black;
    padding: 6px;
}
.left-panel{
    padding-left: 50px;
    align-items: center;
}
.left-panel .table{
    
    border: none;
    border-collapse: collapse;
    border-color: black;
    width: 55%;
    height: 20%;
    text-align: center;
}
.main h1 {
    padding-left: 550px;
    padding-top: 20px;
    color: white;
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}

.table td {
    border: 3px solid black;
    padding: 6px;
}