<header class="header">
    <div class="logo">
        <!-- <img class="brand-logo" src="../../assets/logo1.jpg" alt="logo"> -->
        <img class="brand-logo" src="../../assets/logo.png" alt="logo" style="height: 150px; width: 150px;margin-top: -6px;">

    </div>
    <nav class="nav-items">
        <i class="fa fa-user-plus" aria-hidden="true" style="color: white; font-size:25px;"></i>
        <div class="head" (click)="routeToLink('addvote')">Add Vote</div>
        <i class="fa fa-sign-out" style="color: white; font-size:25px;"></i>
        <div class="head" (click)="routeToLink('logout')">Logout</div>
        
    </nav>
    </header>