<header class="header">
    <div class="logo">
        <!-- <img class="brand-logo" src="../../assets/logo1.jpg" alt="logo"> -->
        <img class="brand-logo" src="../../assets/logo.png" alt="logo" style="height: 150px; width: 150px;margin-top: -6px;">

    </div>
    <nav class="nav-items" >
        <i class="fa fa-home" style="color: white; font-size:25px;"></i>
        <div class="head" (click)="routeToLink('')"> Home</div>
        <i class="fa fa-thin fa-address-card" style="color: white; font-size:25px;"></i>
        <div class="head" (click)="routeToLink('aboutus')"> About Us</div>
        <i class="fa fa-mobile" style="color: white; font-size:32px;" ></i>
        <div class="head" (click)="routeToLink('contactus')"> Contact Us</div>
        <i class="fa fa-sign-in" aria-hidden="true" style="color: white; font-size:25px;"></i>
        <div class="head" (click)="routeToLink('login')"> Login</div>
        <i class="fa fa-user-circle" style="color: white; font-size:25px;"></i>
        <div class="head" (click)="routeToLink('register')"> Register</div>
        
    </nav>
    </header>