<!-- <div id="home">
    <img src="assets/ContactusBanner.png" alt="Banner" background-repeat="no-repeat" width="100%" height="100%"  >
</div>
<h1>Contactus</h1>
       
       -->
       <div class="bodyy">
        <div class="container-fluid">
          <header>
            <h1>Contact Us</h1>
          </header>
          <section id="headOffice" >
            <div class="headOffice">
            <h2>Head Office - ECI</h2>
                <ul>
                    <li><i class="fa fa-fw fa-globe"></i>https://www.elections.tn.gov.in/</li>
                    <li><i class="fa fa-fw fa-phone"></i>1800 4252 1950</li>
                    <li><i class="fa fa-fw fa-address-book"></i>Secretarist, Fort St. George, Chennai-600009</li>
                </ul>
                <br>
                <h2>Important Contacts</h2>
                <table border="1" class="table">
                    <thead>
                  <tr class="header">
                      <th>S.No</th>
                      <th>Name & Designation</th>
                      <th>Mobile</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td>
                          1
                      </td>
                      <td>
                          Thiru.Satyabrata Sahoo, I.A.S.,<br>
                          Chief Electoral Officer (CEO) & Principal Secretary to Government
                      </td>
                      <td>
                          044-25670390
                      </td>
                  </tr>
                  <tr>
                    <td>
                        2
                    </td>
                    <td>
                        Thiru.Shankar Lal Kumawat, I.A.S.,<br>
                        Additional CEO & Additional Secretary to Government
                    </td>
                    <td>
                        044-25672396
                    </td>
                </tr>
                <tr>
                  <td>
                      3
                  </td>
                  <td>
                      Tmt. Anne Joseph<br>
                      Additional CEO & Additional Secretary to Government
                  </td>
                  <td>
                      044-25674019
                  </td>
              </tr>
              <tr>
                <td>
                    4
                </td>
                <td>
                    Thiru. H.S.Srikanth, I.A.S.,<br>
                    Joint Chief Electoral Officer (IT)
                </td>
                <td>
                    044-25670146
                </td>
            </tr>
            <tr>
              <td>
                  5
              </td>
              <td>
                  Thiru. V.Sridhar<br>
                  Joint CEO & Joint Secretary to Government
              </td>
              <td>
                  044-25679396
              </td>
          </tr>
        </tbody>
              </table>
            </div>
          </section>
          </div>
          </div>


