<!-- <div id="home">
    <img src="assets/AboutusBanner.png" alt="Banner" background-repeat="no-repeat" width="100%" height="100%"  >
</div>
        -->
<!-- <button type="button" class="btn btn-primary">Primary</button> -->

<div class="home">
    <div class="container-fluid">
      <header>
        <h1>About Us</h1>
      </header>
      <div class="content" >
      <h5>About Online Voting
        It was created in 2024 and is a continuation of the project that was started in 2024.</h5>
        <br>
        <h3><b>Our goals at Online Voting are to:</b></h3>
        
       <p> Provide the best possible experience for both voters and election managers. 
        Getting voters to vote is challenging so we provide a clean and simple user interface for voters.
         It is fast and works great on mobile devices.</p>

        <p>Provide top-notch security and reliability. It encrypts voting pages with state-of-the-art encryption for security,
         runs on Google servers for fast responses, and sends voting emails using Sendgrid to make sure emails land in voter inboxes.

        <p>Maintain voter privacy. Voter emails are used ONLY for your election.</p>

        <p>Be cost effective! Online Voting is much less expensive than most other providers even though it provides better services.</p>

        <p>Promote the use of better voting techniques.</p> 

        <p>Online Voting specializes in ranked voting because ranked voting provides better outcomes than check-the-box voting.</p>
        </div>
</div>
</div>
      


